.brand-slider--container {
    --ltk--col-total: 4;
    --ltk--col-start: calc(-1 * var(--stk01--num-active-slide));

    padding: 0 var(--padding-h);

    flex-wrap: nowrap;
}
.brand-slider--container > *:first-child {
    transition: margin 1s;
}
