.brand-slider--container {
    --ltk--col-total: 4;
    --ltk--col-start: calc(-1 * var(--stk01--num-active-slide));

    padding: 0 var(--padding-h);

    flex-wrap: nowrap;
}
.brand-slider--container > *:first-child {
    transition: margin 1s;
}

/* --------------------------------------------------------------------- */

.brand-card {
    display: flex;
    min-height: 140px;
    
    justify-content: center;
    align-items: center;

    border: 1px solid var(--level-1);
}
.brand-card .logo {
    height: calc(30 * var(--px));
}
@media (width <= 1280px) {
    .brand-card .logo {
        height: calc(21 * var(--px));
    }
}
