.cardholder--container {
    --padding-v: 120px;

    padding: var(--padding-v) var(--padding-h);
}
@media (width <= 1280px) {
    .cardholder--container {
        --padding-v: 80px;
    }
}
@media (width <= 640px) {
    .cardholder--container {
        --padding-v: 48px;
    }
}

/* --------------------------------------------------------------------- */

.cardholder--header {
    max-width: 690px;
    margin-bottom: 40px;
}
.cardholder--cards {
    --ltk--col-total: 3;
    --ltk--gap-x: 24px;
    --ltk--gap-y: 40px;
}
@media (width <= 640px) {
    .cardholder--cards {
        --ltk--col-total: 1;
    }
}
