.experience--container {
    --padding-v: 120px;

    display: flex;
    padding-top: var(--padding-v);
    padding-bottom: var(--padding-v);

    flex-direction: column;
    gap: 40px;
}
@media (width <= 1280px) {
    .experience--container {
        --padding-v: 80px;
    }
}
@media (width <= 640px) {
    .experience--container {
        --padding-v: 48px;
    }
}

/* --------------------------------------------------------------------- */

.experience .title h2 {
    max-width: 690px;
}

/* --------------------------------------------------------------------- */

.experience--carts {
    --ltk--col-total: 3;
    --ltk--gap-x: 24px;
    --ltk--gap-y: 40px;
}
.experience--carts p{
    font: var(--body-2);
    color: var(--light-grey);

    padding-right: 77px;
    margin-top: 22px;
}
@media (width <= 1280px) {
    .experience--carts h3,
    .experience--carts p {
        padding-right: 16px;
    }
    .experience--carts > p{
        margin-top: 24px;
    }
}
@media (width <= 640px) {
    .experience--carts {
        --ltk--col-total: 1;
    }
    .experience--carts h3,
    .experience--carts p {
        padding-right: 0;
    }
    .experience--carts > p{
        margin-top: 16px;
    }
}
