.header--desctop {
    background: linear-gradient(
        -90deg,
        var(--level-1) 50%,
        #00000000 50%
    );
}
.header--desctop .header--container {
    background: linear-gradient(
        -90deg,
        var(--level-1) 62.5%,
        #00000000 62.5%
    );
}
@media (width <= 1280px) {
    .header--desctop,
    .header--desctop .header--container {
        background: none;
    }
}

.header--desctop .header--container > * {
    display: flex;
    padding-top: calc(var(--geh01--nav) + 80px);
    padding-bottom: 84px;
}
.header--desctop .header--container > .ltk--block--content {
    align-items: center;
}

.header--desctop .header--img {
    width: 52%;
}
.header--desctop .header--title {
    display: flex;
    width: 54%;
    margin-left: auto;
    padding-right: 40px;

    flex-direction: column;
    gap: 32px;
}
@media (width <= 1280px) {
    .header--desctop .header--img {
        width: 50%;
    }
    .header--desctop .header--title {
        width: 59%;
    }
}

/* --------------------------------------------------------------------- */

.header--mobile .header--container {
    display: flex;
    padding-top: var(--geh01--nav);

    flex-direction: column;
}

.header--mobile .header--img {
    height: 288px;
}
.header--mobile .header--title {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;

    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

/* --------------------------------------------------------------------- */

.header--img {
    background-position: center;
    background-size: cover;
}

/* --------------------------------------------------------------------- */

@media (width <= 640px) {
    .header--desctop {
        display: none;
    }
}
@media (width > 640px) {
    .header--mobile {
        display: none;
    }
}
