.header--mobile {
    display: none;
}
@media (max-width: 640px) {
    .header--desctop {
        display: none;
    }
    .header--mobile {
        display: block;
    }
}

/* --------------------------------------------------------------------- */

.header--desctop {
    --background: linear-gradient(
        -90deg,
        var(--level-1) 62.5%,
        #ffffff00 62.5%
    );

    background: var(--background);
}
@media (max-width: 1280px) {
    .header {
        --background: none;
    }
}

.header--desctop .header--container {
    display: flex;
    padding-top: var(--gnh01--nav-height);

    flex-direction: column;
    justify-content: center;
}
.header--desctop .header--img {
    --width: 52%;

    width: var(--width);
    height: 100%;
}
.header--desctop .header--container--text {
    display: flex;

    flex-direction: column;
    align-items: flex-end;
}
.header--desctop .header--text {
    --width: 52%;
    --margin: 141px 40px 141px 0;

    width: var(--width);
    margin: var(--margin);

    flex-shrink: 0;
}
@media (max-width: 1280px) {
    .header--desctop .header--img {
        --width: 50%;
    }
    .header--desctop .header--text {
        --width: 53%;
        --margin: 88px 40px 88px 0;
    }
}

/* --------------------------------------------------------------------- */

.header--mobile .header--container {
    display: flex;
    padding-top: var(--gnh01--nav-height);
    padding-bottom: 48px;

    flex-direction: column;
    gap: 48px;
}
.header--mobile .header--img {
    min-height: 250px;

    flex-grow: 1;
}

/* --------------------------------------------------------------------- */

.header--text {
    --gap: 32px;

    display: flex;

    flex-direction: column;
    gap: 32px;
}
@media (max-width: 640px) {
    .header--text {
        --gap: 16px;
    }
}

.header--img {
    background-size: cover;
    background-position: center;
}

.header h1 {
    font: var(--heading-1);
}
.header p {
    font: var(--body-1);
    line-height: 1.5;
}
