.nav {
    font: var(--body-2);
}
.nav--container {
    display: flex;

    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
@media (width <= 640px) {
    .nav--container {
        padding-right: 0;
    }
}

/* --------------------------------------------------------------------- */

.nav--logo {
    height: calc(24 * var(--px));

    transition: transform 0.25s;
}
.nav--logo img {
    height: 100%;
}
@media (hover: hover) {
    .nav--logo:hover {
        transform: scale(1.25);
    }
}

.nav--links {
    display: flex;
}
.nav--links a {
    display: inline-block;
    padding: 32px 24px;

    transition: background-color 0.25s;
}
@media (hover: hover) {
    .nav--links a:hover {
        background: var(--primary);
    }
}
@media (hover: none) {
    .nav--links li:last-child a {
        background: var(--primary);
    }
}
@media (width <= 640px) {
    .nav--container .nav--links {
        display: none;
    }
}

.nav--burger {
    padding: 24px 20px;

    transition: background-color 0.25s;
}
.nav--burger--icon {
    width: calc(24 * var(--px));
    height: calc(24 * var(--px));

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
@media (hover: hover) {
    .nav--burger:hover {
        background: var(--primary);
    }
}
@media (width > 640px) {
    .nav--container .nav--burger {
        display: none;
    }
}

/* --------------------------------------------------------------------- */

.nav--popup-fill-bg {
    background-color: #fff3e440;
    background: repeating-linear-gradient(
        45deg,
        #18182380,
        #18182380 15px,
        #e95d9080 15px,
        #e95d9080 30px
    );

    z-index: 10;
}

.nav--popup {
    background: var(--base);

    z-index: 100;
}
.nav--popup .nav--links {
    flex-direction: column;
}
.nav--popup .nav--links a {
    width: 100%;
}

/* --------------------------------------------------------------------- */

.nav[data-ttk01-nav-popup-flag=true] .nav--popup-fill-bg {
    animation: forwards 0.25s nav--popup-fill-bg__on;
}
.nav[data-ttk01-nav-popup-flag=false] .nav--popup-fill-bg {
    animation: forwards 0.25s nav--popup-fill-bg__off;
}

@keyframes nav--popup-fill-bg__on {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes nav--popup-fill-bg__off {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

.nav[data-ttk01-nav-popup-flag=true] .nav--popup {
    animation: forwards 0.25s nav--popup__on;
}
.nav[data-ttk01-nav-popup-flag=false] .nav--popup {
    animation: forwards 0.25s nav--popup__off;
}

@keyframes nav--popup__on {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes nav--popup__off {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
        display: none;
    }
}
