.philosophy {
    background: var(--peach-accent);
}
.philosophy--container {
    --ltk--col-total: 2;
}
.philosophy--container > * {
    min-height: 600px;
}
@media (width <= 640px) {
    .philosophy--container {
        --ltk--col-total: 1;
    }
    .philosophy--container > * {
        min-height: 450px;
    }
}

/* --------------------------------------------------------------------- */

.philosophy--text {
    --padding-v: 120px;

    padding-top: var(--padding-v);
    padding-bottom: var(--padding-v);
}
@media (width <= 1280px) {
    .philosophy--text {
        --padding-v: 80px;
    }
}
@media (width <= 640px) {
    .philosophy--text {
        --padding-v: 48px;
    }
}

/* --------------------------------------------------------------------- */

.philosophy--img {
    background-position: center;
    background-size: cover;
}
