@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

:root {
    --base: #000000;
    --level-1: #181823;
    --light-grey: #8491a0;
    --dark-grey: #5B6876;
    --text: #ffffff;
    --primary: #5221e6;
    --green-accent: #3cc74e;
    --blue-accent: #609bff;
    --pink-accent: #e95d90;
    --peach-accent: #fff3e4;
    --violet-accent: #fbe4ff;

    --font-family: "Sen", serif;

    --label-1: calc(117 * var(--px)) var(--font-family);
    --heading-1: 700 calc(78 * var(--px)) var(--font-family);
    --heading-2: 700 calc(55 * var(--px)) var(--font-family);
    --heading-3: 700 calc(24 * var(--px)) var(--font-family);
    --heading-4: 700 calc(18 * var(--px)) var(--font-family);
    --heading-5: 700 calc(16 * var(--px)) var(--font-family);
    --body-1: calc(18 * var(--px)) var(--font-family);
    --body-2: calc(16 * var(--px)) var(--font-family);
    --overline: 700 calc(16 * var(--px)) var(--font-family);
    --button: 700 calc(18 * var(--px)) var(--font-family);

    --px: calc(1rem / 16);
}
@media (width <= 1280px) {
    :root {
        --heading-1: 700 calc(56 * var(--px)) var(--font-family);
    }
}
@media (width <= 640px) {
    :root {
        --heading-1: 700 calc(32 * var(--px)) var(--font-family);
        --heading-2: 700 calc(32 * var(--px)) var(--font-family);
    }
}

html {
    scroll-behavior: smooth;
}
body {
    hyphens: auto;

    background: var(--base);
}

body[data-ttk01-flag-scroll-stop=true] {
    overflow: hidden;
}

/* УДАЛИТЬ! */
/* Это для отображения брейкпоинтов в девтулзах */
@media (max-width: 1280px) {}
@media (max-width: 640px) {}

@media (min-width: 1440px) {}
@media (min-width: 768px) {}
@media (min-width: 360px) {}

/* body * {
    box-shadow: inset 0px 0px 5px 0px #ffffff;
} */

/* --------------------------------------------------------------------- */
/* Сокрытие элемента на определенных размерах экрана */

@media (width <= 640px) {
    .hidden--sm-or-less {
        display: none;
    }
}
@media (width > 640px) {
    .hidden--sm-or-more {
        display: none;
    }
}

@media (width <= 1280px) {
    .hidden--xl-or-less {
        display: none;
    }
}
@media (width > 1280px) {
    .hidden--xl-or-more {
        display: none;
    }
}

/* --------------------------------------------------------------------- */
/* Боковые отступы в виде кастомного свойства */

:root {
    --padding-h: 72px;
}
@media (width <= 1280px) {
    :root {
        --padding-h: 40px;
    }
}
@media (width <= 640px) {
    :root {
        --padding-h: 20px;
    }
}

/* --------------------------------------------------------------------- */
/* TEXT */

body {
    font: var(--body-1);
    color: var(--text);
}

h1 {
    font: var(--heading-1);
    color: var(--text);
}
h2 {
    font: var(--heading-2);
    color: var(--text);
}
h3 {
    font: var(--heading-3);
    color: var(--text);
}

p,
textarea,
input[type="text"],
input[type="email"] {
    font: var(--body-1);
    line-height: 1.5;
    color: var(--text);
}
button,
input[type="submit"] {
    font: var(--button);
    color: var(--text);
    text-transform: uppercase;
}

a,
label {
    font: var(--body-2);
    color: var(--text);
}

.label {
    font: var(--label-1);
    color: var(--light-grey);
}

.icon {
    display: block;
    height: calc(18 * var(--px));

    aspect-ratio: 1/1;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo {
    display: block;
    height: calc(24 * var(--px));

    transition: transform 0.25s;
}
.logo > * {
    height: 100%;
}
@media (hover: hover) {
    .logo:hover {
        transform: scale(1.1);
    }
}

.color--transparent {
    color: #ffffff80;
}
.color--green {
    color: var(--green-accent);
}
.color--blue {
    color: var(--blue-accent);
}
.color--pink {
    color: var(--pink-accent);
}
