@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

:root {
    --base: #000000;
    --level-1: #181823;
    --light-grey: #8491a0;
    --dark-grey: #5B6876;
    --text: #ffffff;
    --primary: #5221e6;
    --green-accent: #3cc74e;
    --blue-accent: #609bff;
    --pink-accent: #e95d90;
    --peach-accent: #fff3e4;
    --violet-accent: #fbe4ff;

    --font-family: "Sen", serif;

    --label-1: calc(117 * var(--px)) var(--font-family);
    --heading-1: 700 calc(78 * var(--px)) var(--font-family);
    --heading-2: 700 calc(55 * var(--px)) var(--font-family);
    --heading-3: 700 calc(24 * var(--px)) var(--font-family);
    --heading-4: 700 calc(18 * var(--px)) var(--font-family);
    --heading-5: 700 calc(16 * var(--px)) var(--font-family);
    --body-1: calc(18 * var(--px)) var(--font-family);
    --body-2: calc(16 * var(--px)) var(--font-family);
    --overline: calc(16 * var(--px)) var(--font-family);
    --button: calc(18 * var(--px)) var(--font-family);

    --px: calc(1rem / 16);
}
@media (width <= 1280px) {
    :root {
        --heading-1: 700 calc(56 * var(--px)) var(--font-family);
    }
}
@media (width <= 640px) {
    :root {
        --heading-1: 700 calc(32 * var(--px)) var(--font-family);
        --heading-2: 700 calc(32 * var(--px)) var(--font-family);
    }
}

html {
    scroll-behavior: smooth;
}
body {
    font: var(--body-1);
    color: var(--text);
    hyphens: auto;

    background: var(--base);
}

body[data-ttk01-scroll-stop-flag=true] {
    overflow: hidden;
}

/* УДАЛИТЬ! */
/* Это для отображения брейкпоинтов в девтулзах */
@media (max-width: 1280px) {}
@media (max-width: 640px) {}

@media (min-width: 1440px) {}
@media (min-width: 768px) {}
@media (min-width: 360px) {}

/* --------------------------------------------------------------------- */

.padding-container {
    --padding-h: 75px;
    
    padding: 0 var(--padding-h);
}
@media (width <= 1280px) {
    .padding-container {
        --padding-h: 40px;
    }
}
@media (width <= 640px) {
    .padding-container {
        --padding-h: 20px;
    }
}

/* --------------------------------------------------------------------- */
/* TEXT */

h1 {
    font: var(--heading-1);
}
h2 {
    font: var(--heading-2);
}
h3 {
    font: var(--heading-3);
}
p {
    font: var(--body-1);
    line-height: 1.5;
}
.label {
    font: var(--label-1);
    color: var(--light-grey);
}

.color--transparent {
    color: #ffffff80;
}
.color--green {
    color: var(--green-accent);
}
.color--blue {
    color: var(--blue-accent);
}
.color--pink {
    color: var(--pink-accent);
}

/* --------------------------------------------------------------------- */

/* <div class="title">

    <div class="title--overline">
        TEXT
    </div>

    <div class="title--container">
        <h2>
            TEXT
        </h2>
        <p>
            TEXT
        </p>
    </div>

    <a href="#">
        TEXT
    </a>

</div> */

.title .title--overline {
    font: var(--overline);
    text-transform: uppercase;

    margin-bottom: 8px;
}
.title .title--container {
    --gap: 24px;

    display: flex;

    flex-direction: column;
    gap: var(--gap);
}
.title a {
    display: inline-block;
    margin-top: 40px;
    padding-bottom: 4px;

    border-bottom: 1px solid var(--light-grey);
}
@media (width <= 640px) {
    .title .title--container {
        --gap: 16px;
    }
}

.title .title--overline {
    color: var(--light-grey);
}
.title p {
    color: var(--light-grey);
}

.title__black {
    color: var(--level-1);
}
.title__black .title--overline {
    color: var(--dark-grey);
}
.title__black p {
    color: var(--dark-grey);
}

/* --------------------------------------------------------------------- */
