:root {
    --ltk--min-width: 300px;
    --ltk--max-width: 1920px;

    --ltk--min-height: 600px;
    --ltk--max-height: 1280px;
}

/* --------------------------------------------------------------------- */

.ltk--container {
    width: 100%;
    min-width: var(--ltk--min-width);

    overflow: hidden;
}
.ltk--container .ltk--container {
    overflow: visible;
}
.ltk--container__content-width {
    max-width: var(--ltk--max-width);
    margin: 0 auto;

    overflow: visible;
}
.ltk--container__viewport-height{
    --ltk--viewport-height: 100;

    min-height: max(
        min(
            calc(1vh * var(--ltk--viewport-height)),
            calc(var(--ltk--max-height) * var(--ltk--viewport-height) / 100)
        ),
        calc(var(--ltk--min-height) * var(--ltk--viewport-height) / 100)
    );
}

/* --------------------------------------------------------------------- */

.ltk--overlay {
    position: fixed;
    z-index: 10;

    overflow: auto;
}
.ltk--overlay__top {
    inset: 0 0 auto 0;
}
.ltk--overlay__right {
    inset: 0 0 0 auto;
}
.ltk--overlay__center {
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
.ltk--overlay__fill {
    inset: 0;
}

/* --------------------------------------------------------------------- */

.ltk--block {
    position: relative;
}
.ltk--block--bg {
    position: absolute;
    inset: 0;
    bottom: unset;
    z-index: 0;
}
.ltk--block--bg__fill {
    inset: 0;
}
.ltk--block--content {
    position: relative;
    z-index: 1;
}

/* --------------------------------------------------------------------- */

.ltk--cols {
    --ltk--col-total: 1;
    --ltk--col-start: 0;
    --ltk--gap-x: 0px;
    --ltk--gap-y: 0px;

    display: flex;

    gap: var(--ltk--gap-y) var(--ltk--gap-x);
    flex-wrap: wrap;
}
.ltk--cols > * {
    --ltk--cols: 1;

    --ltk--private--col-size: calc(
        (100% - (var(--ltk--col-total) - 1) * var(--ltk--gap-x))
        / var(--ltk--col-total)
    );

    --ltk--private--width: calc(
        var(--ltk--private--col-size) * var(--ltk--cols)
        + (var(--ltk--cols) - 1) * var(--ltk--gap-x)
    );

    width: var(--ltk--private--width);

    flex-shrink: 0;
}
.ltk--cols > *:first-child {
    --ltk--private--margin-left: calc(
        var(--ltk--col-start) * (var(--ltk--private--col-size) + var(--ltk--gap-x))
    );

    margin-left: var(--ltk--private--margin-left);
}
