:root {
    --ltk--min-width: 320px;
    --ltk--max-width: 1920px;
    --ltk--min-height: 600px;

    --ltk--height: 100;
}

/*
.ltk--height-container должен быть использован в паре с
.ltk--width-container, согласно следующей схеме:

...
<div class="ltk--height-container">
    <div class="ltk--width-container">
        ...
    </div>
</div>
...
*/

/* --------------------------------------------------------------------- */

.ltk--height-container {
    display: flex;
    min-width: var(--ltk--min-width);
    min-height: max(
        calc(1vh * var(--ltk--height)),
        calc(var(--ltk--height) / 100 * var(--ltk--min-height))
    );

    justify-content: center;
}

.ltk--width-container {
    width: 100%;
    min-width: var(--ltk--min-width);
    max-width: var(--ltk--max-width);
    margin: 0 auto;

    overflow: hidden;
}

/* --------------------------------------------------------------------- */

.ltk--modal-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

/* --------------------------------------------------------------------- */

/*
CSS для раздельной верстки заднего фона и контента
*/

.ltk--block {
    position: relative;
}

.ltk--block--bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.ltk--block--content {
    position: relative;
    z-index: 1;
}

/* --------------------------------------------------------------------- */

/*
--ltk--col-total
--ltk--gap

--ltk--cols

--ltk--read-only--col-size
--ltk--read-only--width
*/

.ltk--cols {
    --ltk--col-total: 1;
    --ltk--gap: 0px;

    --ltk--read-only--col-size: calc(
        (100% - (var(--ltk--col-total) - 1) * var(--ltk--gap))
        / var(--ltk--col-total)
    );

    display: flex;

    gap: var(--ltk--gap);
    flex-wrap: wrap;
}

.ltk--cols > * {
    --ltk--cols: 1;

    --ltk--read-only--width: calc(
        var(--ltk--read-only--col-size) * var(--ltk--cols)
        + (var(--ltk--cols) - 1) * var(--ltk--gap)
    );

    width: var(--ltk--read-only--width);

    flex-shrink: 0;
}
